/* -------GENERAL-------- */

* {
  text-decoration: none;
}

body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

/* ---------------------HEADER------------------- */

header {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #f2f2f2;
}

.container {
  width: 1280px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  display: flex;
  gap: 70px;
}

.container2 {
  background-color: #f2f2f2;
}

.research {
  width: 100%;
  position: relative;
}

.research input {
  all: unset;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #f5f6f7;
  padding: 5px 0px 5px 20px;
  font-size: 15px;
}

.research ::placeholder {
  color: #d8d9da;
}

.menup-box {
  display: flex;
}

.menup1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.menup2 {
  margin-left: 65px;
  display: flex;
  justify-content: space-between;
}

header img {
  height: 30px;
}

.menup1 button {
  all: unset;
  text-align: center;
  width: 100px;
  height: 30px;
  color: white;
  border-radius: 5px;
  border: 1px solid #09b0ba;
  color: #09b0ba;
}

.menup2 button {
  all: unset;
  text-align: center;
  width: 120px;
  height: 30px;
  background-color: #09b0ba;
  color: white;
  border-radius: 5px;
  color: white;
}

/* -----------------FILTRE----------------- */

.filtre {
  width: 1280px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.filtre-button {
  position: absolute;
  top: 15px;
  right: 0px;
  height: 100%;
}

.filtre p {
  color: grey;
}

.filtre-icon {
  margin: 0px 10px 0px 0px;
  color: grey;
}

/* ---------------------SLIDER------------------- */

.slider img {
  height: 450px;
}

/* ---------------------ARTICLES------------------- */

.wrapper {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.articles {
  flex: 1;
  width: 230px;
  margin: 40px 0px 0px 0px;
}

.articles p {
  margin: 5px 0px 5px 0px;
  color: #999;
}

.articles img {
  width: 230px;
  height: 360px;
  object-fit: cover;
}

.articles-avatar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.articles-avatar img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-right: 10px;
}

.articles-pseudo {
  font-size: 12px;
  color: #999;
}

/* ---------------------ARTICLE------------------- */

.article-bg {
  background-color: #eaedee;
  height: 100vh;
}

.article-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
}

.article-infos {
  margin-top: 30px;
  flex: 1;
  width: 100%;
  height: 600px;
  background-color: white;
  padding: 40px;
}

.article-list {
  list-style-type: none;
  padding-bottom: 45px;
  border-bottom: 1px solid #e7e7e7;
}

.article-list li {
  display: flex;
  font-size: 14px;
  color: #e7e7e7;
}

.article-list li span:last-child {
  color: #666666;
}

.article-list span {
  list-style-type: none;
  width: 160px;
  padding: 5px;
}

.article-user {
  margin: 50px 0px 150px 0px;
  height: 100px;
  font-size: 16px;
  color: #666;
  line-height: 25px;
}

.article-user p:first-child {
  font-size: 19px;
  margin-bottom: 20px;
  color: black;
}

.article-user img {
  height: 50px;
  border-radius: 100%;
}

.article-image {
  margin-top: 30px;
  flex: 3;
}

.article-image img {
  height: 600px;
  object-fit: cover;
}

.article-avatar {
  display: flex;
  align-items: center;
  margin: 30px 0px 0px 0px;
}

.article-avatar img {
  height: 30px;
  border-radius: 100px;
}

.article-avatar span {
  margin-left: 15px;
}

.article-container button {
  all: unset;
  text-align: center;
  width: 350px;
  height: 35px;
  background-color: #09b0ba;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.article-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ---------------------ARTICLES------------------- */
